* {
  box-sizing: border-box;
}

.logo {
  width: auto;
  height: 127px;
  display: block;
}

body {
  background-color: #ffffff;
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.whole-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.links {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.links li {
  display: inline-block;
}

.links a {
  text-decoration: none;
  color: inherit;
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  margin: 0px 25px;
  text-align: center;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: aliceblue;
  text-align: center;
  width: 100%;
}

.links ul {
  text-align: center;
}

.search {
  width: 300px;
  height: 40px;
}
.container {
  text-align: center;
  color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
}

.homepage {
  width: 100%;
  height: 800px;
}

.beijing {
  width: 100%;
  height: 100%;
}
.xian {
  width: 100%;
  height: 100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: x-large;
}

.highlight {
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  font-weight: 200;
}
.sloganB {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.xiancard {
  width: 441px;
  height: 586px;
}

.card button {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  text-decoration: none;
}
.card a {
  text-decoration: none;
  color: black;
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  grid-template-rows: 2fr 3fr;
  margin: 0 auto;
}

.beijingimg {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.imgtext {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  width: 100%;
  padding-right: 30px;
}

.xianimg {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  padding: 80px;
}

.imgtext2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  gap: 15px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding-left: 30px;
}
.content {
  height: 100%;
  width: 100%;
  display: grid;
  box-sizing: border-box;
}

.trailpathimg {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pathway {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 2fr 4fr 2fr;
  gap: 15px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: aliceblue;
  padding: 20px;
}

.footerlogo {
  width: 80px;
  height: 80px;
}
.pathcards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-top: 0;
}
.panda {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 140%;
  left: 90%;
}
section {
  height: 100%;
  min-height: 100px;
}

.content {
  margin-bottom: 0;
}

.ptext {
  text-align: center;
  align-items: center;
}
.h3text {
  text-align: center;
  align-items: center;
  margin: 20px auto;
  font-size: x-large;
  font-weight: 700;
}
.facebook {
  width: 30px;
  height: 30px;
}
.X {
  width: 30px;
  height: 30px;
}
.Instagram {
  width: 30px;
  height: 30px;
}

.forbiddenimg {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  align-items: start;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.beijingtext1 {
  text-align: end;
  font-size: xx-large;
  font-weight: 700;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 30px;
  width: 100%;
  height: 100%;
}

.greatwallimg {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  align-items: end;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.forbidden {
  display: grid;
  grid-template-columns: 4fr 1fr 3fr 3fr 1fr;
  grid-template-rows: 2fr;
  width: 100%;
  height: 100%;
}

.forbiddentext {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: large;
  font-weight: 400;
  text-align: justify;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
.forbiddenthings {
  height: 100%;
  width: 100%;
}
.greatwall {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr 4fr 0.5fr;
  grid-template-rows: 2fr;
  width: 100%;
  height: 100%;
}

.greatwalltext {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: large;
  font-weight: 400;
  text-align: justify;
  margin-right: 10px;
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

.beijingtext2 {
  text-align: start;
  font-size: xx-large;
  font-weight: 700;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
}

.beijingtext3 {
  text-align: end;
  font-size: xx-large;
  font-weight: 700;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;

  width: 100%;
  height: 100%;
}

.great-wall-of-china-text {
  padding-left: 30px;
}

.templeofheaventext {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: large;
  font-weight: 400;
  text-align: justify;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.temple-of-heaven-text {
  padding-left: 30px;
}

.templeofheaven {
  display: grid;
  grid-template-columns: 4fr 1fr 3fr 3fr 1fr;
  grid-template-rows: 2fr;
  width: 100%;
  height: 100%;
}

.templeofheavenimg {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  align-items: start;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.XiAn1 {
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 30px;
  width: 100%;
  height: 100%;
}

.explore-xi-an {
  content: "";
}

.belltower {
  display: grid;
  grid-template-columns: 0.5fr 1fr 3fr 1fr 0.5fr;
  grid-template-rows: 2fr 1fr;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.belltowerimg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  align-items: start;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.belltowerimg2 {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  align-items: end;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.belltowertext {
  width: 100%;
  max-width: 800px;
  margin: auto;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.thingsallowed4 {
  max-width: 100%;
  height: auto;
  align-content: center;
  justify-content: center;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.forbiddenthings1 {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  align-items: center;
  margin: auto;
}

.beijingcard {
  width: auto;
  height: auto;
  max-width: 600px; /* or whatever size you want */
  max-height: 600px;
  object-fit: contain;
}

.forbidden-city-text {
  padding-right: 30px;
}

/*wooooo*/
